

body{
    margin: auto;
}

h2{
    text-align: center;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

.content{
    
    background-color: beige;
    justify-content: center;
    display: flex;
    
    
}
.image img {
    width: 110px;
    height: 110px;
}

.title{
    
    text-align: center;
    position: relative;
    margin-top: 20px;
}
.contain{
    
    margin-top: 13%;   
    text-align: center;
    width: 60%;
    margin-left: 15%;
    margin-right: 15%;
   
}

.ajout{
       
    background-color: #507531;
    text-decoration: none;
    color: black;
    text-align: center;
    
}


.table{

    height: auto;
    

}
.table{

background-color: #C4FAF3;
width: 60%;

}

.contenu{
    background-color:#8CEEE1 ;
    


}


fieldset{
    background-color: #C4CFCF;
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: none;
    justify-content: center;

 }



.container{
    justify-content: center;
    margin-top: 3%;   
    text-align: center;
}

.colone{
    width: 50%;
    height: 35px;
}

.area{
    
        resize : both;
        min-width: 50%;
        min-height: 40%px;
        max-width: 50%;
        max-height: 40%;
}



.btn-u{
    background-color:#507531 ;
    color: black;
    height: auto;
    width: auto;
    border: none;
    border-radius: 2px;
    text-decoration: none;
}
 .btn{
    
    color: black;
    height: auto;
    width: auto;
    border-radius: 2px;
    border: none;
    text-decoration: none;
    cursor:pointer;
    
 }

.btn-d{
    background-color:#5B9954 ;
    color: black;
    height: auto;
    width: auto;
    border: none;
    border-radius: 2px;
    text-decoration: none;
}


.footer{
    background-color: rgb(15, 15, 15);
    color: white;    
    text-align: center;
    margin-top: 13%;
    height: 10%;
    position: relative;
    bottom: 0;
    width: 100%;
    left:  0;
    
}


